* {
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    position: fixed!important;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: #e62e00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.drawer {
    width: 50px;
    cursor: pointer;
}

.form-btn{
	width: 65%;
    background-color: #ff3300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
	margin-top: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 17%;
}

.drawer .menu-stroke{
    height: 4px;
    margin-top: 8px;
    margin-left: 10%;
    width: 80%;
    background-color: white;
}

.drawer:hover{
    background-color: rgb(252, 156, 133);
}



.linkItems {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.linkItems a {
    display: block;
    width: 80px;
    height: 45px;
    padding-top: 25px;
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.linkItems a:hover,
.linkItems a:active,
.linkItems a.active{
    color: #ffd6cc;
}

.sideItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.sideItem a{
        display: block;
        width:100%;
        height: 45px;
        padding-top: 10px;
        font-size: 18px;
        text-align: justify;
        color: #e62e00;
        padding: 10px 22px;
        text-decoration: none;
}
.clip{
    border-radius: 35px;
    background-color: orange;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.greetings-clip {
    width: 110px;
    height: 39px;
    color: white;
    float: left;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
}

.picture-clip {
    height: 39px;
    width: 40px;
    border-radius: 35px;
    background-color: white;
    float: left;
}
.dropdown-content{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 61px;
    background-color: orangered;

}

.dropdown-linkItem a{
        display: block;
        width:100%;
        height: 45px;
        padding-top: 0px;
        font-size: 18px;
        text-align: justify;
        color: white;
        padding: 10px 22px;
        text-decoration: none;
}

.dropdown-linkItem a:hover,
.dropdown-linkItem:hover,
.dropdown-linkItem a:active,
.dropdown-sideItem a.active{
    color: white!important;
    background-color: red!important;

}

.side-nav-logo {
    padding: 22px 22px;
}


.sideItem a:hover,
.sideItem:hover,
.sideItem a:active,
.sideItem a.active{
    color: white!important;
    background-color: #e62e00!important;

}

.linkItem #pic-clip {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-top: 15px;
}

main {
    margin: 0px;
    padding: 0px;
}

.caption {
    position: relative;
    height: 350px;
    margin-top: 70px;
    background-color: red;
}

.caption-background {
    width: 100%;
    height: 350px;
    background-image: url("../images/Chickery-Fish-Geelong-1.jpg");
    background-size: cover;
}

.caption-background img {
    width: 100%;
    height: auto;
}

.overlay {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 5%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.caption-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    width: 100%;
    height: 90px;
    font-size: 42px;
    color: white;
	padding-top: 40px;
    text-overflow: clip;
    position: absolute;
    z-index: 300px;
    text-align: center;
    top: 6%;
}

.slog-text {
    font-family: '';
    width: 100%;
    height: 90px;
    font-size: 20px;
    color: white;
	padding-top: 40px;
    text-overflow: clip;
    position: absolute;
    z-index: 300px;
    text-align: center;
    top: 20%;
}

.search {
    width: 50%;
    margin-left: 25%;
    height: 60px;
    z-index: 400;
    position: absolute;
    top: 40%;
}

.search__input {
    width: 70%;
    border: 0px solid #E5E8E8!important;
    height: 50px!important;
    line-height: 60px!important;
    color: #666!important;
    font-size: 30px!important;
    padding: 8px 15px 0 10px!important;
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.3)!important;
    text-align: center;
    margin-left: 15%;
    
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    display: none;
}

.sidenav {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.close{
    transform: translateX(-100%);
}

.container {
    width: 76%;
    padding: 10px;
    margin-left: 10%;
}

.menu {
    height:auto;
}

.menu-header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: auto;
    padding-top: 8px;
    border-bottom: 1px solid orange;
    
}

.menu-tag{
    height: 40px;
    background-color: orangered;
}

select#meal-category {
    height: 30px;
    width: 60%;
    padding-left: 8px;
    font-size: 18px;
    color: dimgrey;
    margin: 5px 0px;
}

.menu-list{
    display: flex;
    flex-flow: wrap;
    justify-content: justify;
    height: auto;
}

.menu-list .meal {
    width: 150px;
    height: 130px;
    background-color: #f7795a;
    margin-top: 15px;
	margin-left: 15px;
    position: relative;
    cursor: pointer;

}
.meal-image{
	width: 100%;
	height: 100%;
    position: absolute;
    z-index: 100;
}

.meal-image img{
	width: 100%!important;
	height: 100%!important;
}
.meal-tag{
    position: absolute;
    z-index: 120;
    top: 50%;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(0,0,0,0.5);
}

.boxshadow {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    background: white;
}

.transbox {
    background-color: rgba(0,0,0,0.5);
}

.flex-box {
    display: flex;
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/* text*/

.white{
    color: white;
}
.red {
    background-color: red;
}

.btn-floating {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;

}

.flow-text {
    text-overflow:ellipsis!important;
}

.pmargin{ margin-top: -10px;}

.text-align-center {
    text-align: center;
}


.fs-16{
    font-size: 15px;
}

footer{
    height: 50px;
    background-color: #e62e00;
    padding-top:  10px;
}



/* Responsive styles */

/* Small Devices */
@media (min-width: 100px) and (max-width: 600px) {
    .s-1 {width: 8.33%!important}
    .s-2 {width: 16.66%!important}
    .s-3 {width: 25%!important}
    .s-4 {width: 33.33%!important}
    .s-5 {width: 41.66%!important}
    .s-6 {width: 50%!important}
    .s-7 {width: 58.33%!important}
    .s-8 {width: 66.66%!important}
    .s-9 {width: 75%!important}
    .s-10 {width: 83.33%!important}
    .s-11 {width: 91.66%!important}
    .s-12 {width: 100%!important;}

    .offset-s-1 {margin-left: 8.33%;}
    .offset-s-2 {margin-left: 16.66%;}
    .offset-s-3 {margin-left: 25%;}
    .offset-s-4 {margin-left: 33.33%;}
    .offset-s-5 {margin-left: 41.66%;}
    .offset-s-6 {margin-left: 50%;}
    .offset-s-7 {margin-left: 58.33%;}
    .offset-s-8 {margin-left: 66.66%;}
    .offset-s-9 {margin-left: 75%;}
    .offset-s-10 {margin-left: 83.33%;}

    .push-s-1 {margin-right: 8.33%;}
    .push-s-2 {margin-right: 16.66%;}
    .push-s-3 {margin-right: 25%;}
    .push-s-4 {margin-right: 33.33%;}
    .push-s-5 {margin-right: 41.66%;}
    .push-s-6 {margin-right: 50%;}
    .push-s-7 {margin-right: 58.33%;}
    .push-s-8 {margin-right: 66.66%;}
    .push-s-9 {margin-right: 75%;}
    .push-s-10 {margin-right: 83.33%;}

	.meal-picture{width: 50%!important; margin-left: 25%!important}
    .search{margin-left: 0%;}
    .caption-text { font-size: 30px;}
    .menu-header {
        -webkit-flex-direction: column;
        flex-direction: column;
        
    }
    .menu{ margin-left: 0%;}
    .menu-list{ justify-content: center!important}
    .tool-tabs {
        height: 105px!important;
    }
    .tool-drop {
        margin-left: 20px;
    }
    .mo-main-h {
        height: auto!important;
    }

    .form-holder{margin-left: 0px!important;}
    #modal{padding-top: 20px!important;}
    .align-self{ align-self: center;}
    .hide-on-small-only {
        display: none;
    }

    .hide-on-medium-and-down {
        display: none;
    }

    .show-on-small-only {
        display: block;
    }

    .show-on-medium-and-down {
        display: block;
    }
}




/* Medidum devices */

@media (min-width: 601px) and (max-width: 991px){
    .m-1 {width: 8.33%;}
    .m-2 {width: 16.66%;}
    .m-3 {width: 25%;}
    .m-4 {width: 33.33%;}
    .m-5 {width: 41.66%;}
    .m-6 {width: 50%;}
    .m-7 {width: 58.33%;}
    .m-8 {width: 66.66%;}
    .m-9 {width: 75%;}
    .m-10 {width: 83.33%;}
    .m-11 {width: 91.66%;}
    .m-12 {width: 100%;}

    .offset-m-1 {margin-left: 8.33%;}
    .offset-m-2 {margin-left: 16.66%;}
    .offset-m-3 {margin-left: 25%;}
    .offset-m-4 {margin-left: 33.33%;}
    .offset-m-5 {margin-left: 41.66%;}
    .offset-m-6 {margin-left: 50%;}
    .offset-m-7 {margin-left: 58.33%;}
    .offset-m-8 {margin-left: 66.66%;}
    .offset-m-9 {margin-left: 75%;}
    .offset-m-10 {margin-left: 83.33%;}

    .push-m-1 {margin-right: 8.33%;}
    .push-m-2 {margin-right: 16.66%;}
    .push-m-3 {margin-right: 25%;}
    .push-m-4 {margin-right: 33.33%;}
    .push-m-5 {margin-right: 41.66%;}
    .push-m-6 {margin-right: 50%;}
    .push-m-7 {margin-right: 58.33%;}
    .push-m-8 {margin-right: 66.66%;}
    .push-m-9 {margin-right: 75%;}
    .push-m-10 {margin-right: 83.33%;}
    .clip{
        display: none;
    }
    .caption-text { font-size: 48px;}
    .menu-list{ justify-content: center!important}
    .hide-on-medium-only {
        display: none;
    }

    .tool-tabs {
        height: 105px!important;
    }
    .tool-drop {
        margin-left: 20px;
    }
    .mo-main-h {
        height: auto!important;
    }

    .hide-on-medium-and-down {
        display: none!important;
    }
    .hide-on-medium-and-up {
        display: none;
    }
    .show-on-medium-and-down {
        display: block;
    }

    .show-on-medium-and-up {
        display: block;
    }
}


/* Large devices */

@media (min-width: 992px){
    .l-1 {width: 8.33%;}
    .l-2 {width: 16.66%;}
    .l-3 {width: 25%;}
    .l-4 {width: 33.33%;}
    .l-5 {width: 41.66%;}
    .l-6 {width: 50%;}
    .l-7 {width: 58.33%;}
    .l-8 {width: 66.66%;}
    .l-9 {width: 75%;}
    .l-10 {width: 83.33%;}
    .l-11 {width: 91.66%;}
    .l-12 {width: 100%;}

    .offset-l-1 {margin-left: 8.33%;}
    .offset-l-2 {margin-left: 16.66%;}
    .offset-l-3 {margin-left: 25%;}
    .offset-l-4 {margin-left: 33.33%;}
    .offset-l-5 {margin-left: 41.66%;}
    .offset-l-6 {margin-left: 50%;}
    .offset-l-7 {margin-left: 58.33%;}
    .offset-l-8 {margin-left: 66.66%;}
    .offset-l-9 {margin-left: 75%;}
    .offset-l-10 {margin-left: 83.33%;}

    .push-l-1 {margin-right: 8.33%;}
    .push-l-2 {margin-right: 16.66%;}
    .push-l-3 {margin-right: 25%;}
    .push-l-4 {margin-right: 33.33%;}
    .push-l-5 {margin-right: 41.66%;}
    .push-l-6 {margin-right: 50%;}
    .push-l-7 {margin-right: 58.33%;}
    .push-l-8 {margin-right: 66.66%;}
    .push-l-9 {margin-right: 75%;}
    .push-l-10 {margin-right: 83.33%;}
    .mo-main-h {
        height: auto!important;
    }
    .flex-column-driection {
        flex-direction: column;
    }

    .hide-on-large-only {
        display: none;
    }
    .hide-on-medium-and-up {
        display: none;
    }
    .show-on-medium-and-up {
        display: block;
    }
}


/* The Close Button */
.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover, .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
